/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');


:root{
    --tinted-gold: #d4af37;
}

/* Global Style */
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family:'Tilt Prism', sans-serif, cursive;
    background-color: #000;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

ul > li{
    list-style: none;
}

/* buttons */
.card,
.reset-btn{
    cursor: pointer;
}

.btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(255, 255, 255, 0.5);
    padding: 0.8em;
}

h1{
    font-size: 3em;
    font-weight: 300;
    color: var(--tinted-gold);
}

h2{
    font-size: 2em;
    font-weight: 600;
    color: var(--tinted-gold);
}

.smite-logo{
    font-size: 2em;
    margin-bottom: 1em;
}

p{
    font-size: 1.6em;
    color: var(--tinted-gold);
    
}

h3{
    font-weight: 400;
    color: var(--tinted-gold);
}

.score-count{
    font-size: 1.4em;
    padding: 1em 0 2em;
}

.rating > li{
    display: inline-block;
    padding: 0.5em;
}

.turns-count{
    padding: 0.5em;
    color: var(--tinted-gold);
}

.turns-color{
    color: var(--tinted-gold);
}

.reset-btn{
    background-color: var(--tinted-gold);
}

.timer-container{
    background: #fff;
	border-radius: 0.5em;
	color: #000;
	margin: 0.5em;
	padding: 0.5em;
    font-family:'Times New Roman', Times, serif;
}

.timer{
    font-size: 2em;
}

/* modal */
.modal{
    /* hidden by default */
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(6, 8, 17);
    background-color: rgba(6, 8, 17, 0.6);
}

/* model box */
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 5% auto;
    border: 0.8em solid #d4af37;
    padding-right: 2em;
    width: 80%;
}

.close{
    align-self: flex-end;
    color: #fff;
    font-size: 5em;
}

.close:hover,
.close:focus{
    color: var(--tinted-gold);
    text-decoration: none;
    cursor: pointer;
}

.modal-img{
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

p.stats {
    font-weight: 600;
}

p.stats:last-child {
    margin-bottom: 1em;
}

.play-again-btn{
    background: #000;
    margin-bottom: 1em;
}

.cards{
    background: linear-gradient(to bottom, #d4af37, #fff);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 35em;
}

.cards,
.card {
    box-shadow: 5px 2px 20px 0 rgba(6, 8, 17, 0.6);
}

.card {
    background: var(--tinted-gold);
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
}

img {
    user-select: none;
    width: 6em;
    margin-top: 2em;
}

.cards img{
    visibility: hidden;
}

.cards .card.flip{
    background: #000;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

.flip img{
    background: #000;
    visibility: visible;
}

.cards .card.match{
    background: var(--tinted-gold);
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img{
    background: var(--tinted-gold);
}

@keyframes pulse{
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.footer{
    color: #d4af37;
    margin-bottom: 3em;
}

.footer > p {
    font-size: 1em;
    padding: 1em;
}

.footer a:link,
.footer a:visited{
    color: #fff;
    text-decoration: underline;
}

/* media queries */
/* mobile/tablet */
@media screen and (max-width: 568px) {
    .header{
        font-size: 0.75em;
    }
    .score-count{
        font-size: 0.5em;
    }
    .crown{
        font-size: 1em;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    .cards{
        height: 30em;
        width: 20em;
    }
    .card{
        height: 4em;
        width: 4em;
    }
    .cards img{
        width: 4em;
        margin-top: 0.5em;

    }
    .close{
        font-size: 2em;
    }
    .modal-img{
        height: 10em;
        width: 5em;
    }
        
    .modal-content > h2{
        font-size: 1em;
    }

    .play-again-btn{
        font-size: 1.5em;
    }
}

/* desktop */
@media screen and (min-width: 800px) {
    
    h1{
        font-size: 6em;
    }

    p{
        font-size: 2.3em;
    }

    .cards{
        height: 70em;
        width: 70em;
    }

    .card{
        height: 15em;
        width: 15em;
    }

    .cards img{
        width: 13em;
    }

    .reset-btn{
        font-size: 0.8em;
    }

    .footer{
        font-size: 1.2em;
    }
    .modal-content h2 {
        font-size: 5em;
    }

    .modal-img{
        width: 30em;
    }

    .play-again-btn{
        font-size: 2em;
    }
}

.fa-crown{
    color: var(--tinted-gold);
    font-size: 2em;
}



