/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');


:root{
    --tinted-gold: #d4af37;
}

/* Global Styles */
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family:'Tilt Prism', sans-serif, cursive;
    background-color: #000;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
}

.container{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

/* Sticky navbar for Memory card page, credit to https://www.w3schools.com/Css/css_navbar_horizontal.asp */
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #000;
    color: #fff;
}

/* nav bar buttons */
.nav{
    border-radius: 3em;
    font-size: 2em;
    display: inline-block;
    padding: 20px;
    background-color: #343842;
    font-family: 'Times New Roman', Times, serif;
}

/** Quiz design elements **/
/* stops bullet points or numbers being display in list items */
ul > li{
    list-style: none;
}

/* fix for text being disabled */
.quiz-questions > li{
    color: #000;
    font-family:'Times New Roman', Times, serif;
}

/* score elements */
.quiz-score{
    color: white;
    font-weight: 600;
    font-size: 2em;
}


.quiz-question{
    font-size: 3em;
}

/* category and question styles */
.quiz-question .category{
    font-size: 0.5em;
    font-weight: 500;
    background-color: var(--tinted-gold);
    color: #000;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    display: inline-block;
}

/* question options, list type disabled so it doesn't show numbers or bullet points*/
.quiz-questions{
    list-style-type: none;
    width: 30rem;
    display: inline-block;
    
}

/* question options styles*/
.quiz-questions li{
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 0.2rem 0.4rem;
    margin: 0.7rem 0;
    cursor: pointer;
    border: 3px solid var(--tinted-gold);
    background-color: var(--tinted-gold);
    box-shadow: 0 4px 0 0 #736a2b;
    transition: var(--transition);
}

/* hover effect on question options */
.quiz-questions li:hover{
    background-color: #444531;
    color:rgb(6, 8, 17);
    border-color: var(--tinted-gold);
    box-shadow: 0 4px 0 0 #bbb;
}

/* scales down for interactiveness */
.quiz-questions li:active{
    transform: scale(0.87);
}

/* if user click then the clicked option stays highlighted*/
.selected{
    background-color: #444531!important;
    color: rgb(6, 8, 17)!important;
    border-color: var(--tinted-gold)!important;
    box-shadow: 0 4px 0 0 #bbb!important; 
}

.form-style{
    background-color: slategray;
    font-size: 3em;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}

/* reveal answer button */
.quiz-footer button{
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    color: #000;
    letter-spacing: 2px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 #bbb;
}

/* reveal answer hover effect */
.quiz-footer button:hover{
    background-color: slategray;
    box-shadow: 0 4px 0 0 #bbb;
}

/* reveal answer interactiveness */
.quiz-footer button:active{
    transform: scale(0.95);
}

/* hides play again button until called upon at end game */
#play-again {
    display: none;
}

/* results given after each question, correct or incorrect */
#result{
    padding: 0.7rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

/* image styling for correct or incorrect symbol */
#result i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    color: var(--tinted-gold);
}

/* buttons */
.card,
.reset-btn{
    cursor: pointer;
}

.btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(255, 255, 255, 0.5);
    padding: 0.8em;
}

/*404 button*/
.btn-404{
    font-size: 2rem;
    color: #fff;
    padding: 0.8em;
}
.btn-404:hover{
    color:rgba(6, 8, 17, 0.6);
    background-color: #d4af37;
}

/*404 back to main page button */
.back-to-start img {
    width: 35%;
    padding: 1rem 0;
}

/*404 background image scaling*/
.smite-bg-img {
    width: 100%;
}

/* global heading styles */
h1{
    font-size: 3em;
    font-weight: 300;
    color: #fff;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

h3, h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: 900;
    color: #fff;
}


/* logo img style */
.smite-logo{
    font-size: 2em;
    margin-bottom: 1em;
}

/* crown rating image sizing */
.fa-crown{
    color: var(--tinted-gold);
    font-size: 2em;
}

/* text style */
p{
    font-size: 1.6em;
    color: #000;
    
}
/* Card game Styles*/
/* Matching game score count */
.score-count{
    font-size: 1.4em;
    padding: 1em 0 2em;
}

/* crown logo kept to one row */
.rating > li{
    display: inline-block;
    padding: 0.5em;
}

/* turns text */
.turns-count{
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em;
    color: #fff;
}

/* turns number text */
.turns-color{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

/* reset button bg*/
.reset-btn{
    background-color: #343842;
}

/* timer section, contains hourglass logo and overriden font style */
.timer-container{
    background: #fff;
	border-radius: 0.5em;
	color: #000;
	margin: 0.5em;
	padding: 0.5em;
    font-family:'Times New Roman', Times, serif;
}

/* logo size */
.timer{
    font-size: 2em;
}

/* modal */
.modal{
    /* hidden by default */
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(6, 8, 17);
    background-color: rgba(6, 8, 17, 0.6);
}

/* model box */
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0% auto;
    border: 0.8em solid #d4af37;
    padding-right: 2em;
    width: 80%;
    margin-bottom: 10rem;
}

/* exit modal logo*/
.close{
    align-self: flex-end;
    color: #fff;
    font-size: 5em;
}

/* exit modal hover effect*/
.close:hover,
.close:focus{
    color: var(--tinted-gold);
    text-decoration: none;
    cursor: pointer;
}

/* modal img scaling and positioning */
.modal-img{
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

/* the boldness of the loaded player stats */
p.stats {
    font-weight: 600;
}

/* space between stat elements */
p.stats:last-child {
    margin-bottom: 1em;
}

.play-again-btn{
    background: #000;
    margin-bottom: 1em;
}

/* layout and design for the memory cards container */
.cards{
    background: linear-gradient(to bottom, #d4af37, #fff);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 35em;
}

.cards,
.card {
    box-shadow: 5px 2px 20px 0 rgba(6, 8, 17, 0.6);
}

/* individual card styling */
.card {
    background: var(--tinted-gold);
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
}

img {
    user-select: none;
    width: 6em;
    margin-top: 2em;
}

/* image to be hidden until user has inputted a response */
.cards img{
    visibility: hidden;
}

/* flipping the card logic */
.cards .card.flip{
    background: #000;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

/* setting the img to be visible and flashing white */
.flip img{
    background: #000;
    visibility: visible;
}

/* matching card effect*/
.cards .card.match{
    background: var(--tinted-gold);
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

/* setting background behind image if matched */
.match img{
    background: var(--tinted-gold);
}

/* animation for flipping each card*/
@keyframes pulse{
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* FOOTER */
.footer{
    background-color: slategray;
    color: #000;
    margin-bottom: 3em;
    margin-top: 1em;
}

/* font size for text elements */
.footer > p {
    font-size: 1em;
    padding: 1em;
}

.nav a:link,
.nav a:visited{
    color: #fff;
    text-decoration: underline;
}

.footer a:link,
.footer a:visited{
    color: #fff;
    text-decoration: underline;
}

.btn-success{
    width: 40%;
    padding: 2rem 0;
    background-color: var(--tinted-gold);
    font-weight: 1000;
    font-family: 'Tilt Prism', Times, serif;
    font-size: 3rem;
}

.btn-success:hover{
    background-color: #736a2b;
    transform: scale(1.2);
    color: #fff;
}
/* scaling for form image */
.smite-all{
    height: 90%;
    width: 90%;
}


/* Media Queries */
/* Medium screen sizes*/
/* all elements have been scaled in order to be responsive on medium screen sizes */
@media(max-width: 678px){
    .quiz-title{
        font-size: 1.6rem;
    }
    .content{
        margin: 3rem 0;
        width: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .quiz-footer button{
        font-size: 1rem;
    }
}

/* Small mobile/tablet screen sizes */
/* all elements have been scaled in order to be responsive on mobile/tablet */
@media screen and (max-width: 568px) {
    .header{
        font-size: 0.75em;
    }
    .score-count{
        font-size: 0.5em;
    }
    .crown{
        font-size: 1em;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    .cards{
        height: 30em;
        width: 20em;
    }
    .card{
        height: 4em;
        width: 4em;
    }
    .cards img{
        width: 4em;
        margin-top: 0.5em;

    }
    .close{
        font-size: 2em;
    }
    .modal-img{
        height: 10em;
        width: 5em;
    }
        
    .mobile{
        font-size: 1em;
    }

    .play-again-btn{
        font-size: 1.5em;
    }
    .quiz-title{
        font-size: 2.5rem;
    }
    .nav{
        font-size: 1rem;
    }
    .quiz-question{
        font-size: 1.2rem;
    }
    .quiz-questions{
        width: 15rem;
    }
    p.stats{
        font-size: 1rem;
    }
    .smite-all{
        height: inherit;
    }
}

/* desktop screen sizes */
/* all elements have been scaled in order to be responsive on desktop */
@media screen and (min-width: 800px) {
    
    h1{
        font-size: 6em;
    }

    p{
        font-size: 2.3em;
    }

    .cards{
        height: 70em;
        width: 70em;
    }

    .card{
        height: 15em;
        width: 15em;
    }

    .cards img{
        width: 13em;
    }

    .reset-btn{
        font-size: 0.8em;
    }

    .footer{
        font-size: 1.2em;
    }
    .modal-content h2 {
        font-size: 5em;
    }

    .modal-img{
        width: 30em;
    }

    .play-again-btn{
        font-size: 2em;
    }
}





